<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mzhotel.sm.dinnerParty.mapper.DinnerPartyMapper" >
  <resultMap id="BaseResultMap" type="com.mzhotel.sm.dinnerParty.dto.DinnerParty" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="DINNER_TYPE" property="dinnerType" jdbcType="VARCHAR" />
    <result column="LINK_USER" property="linkUser" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="DINNER_PROJECT" property="dinnerProject" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="is_send_message" property="isSendMessage" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, START_DATE,END_DATE,DINNER_TYPE, LINK_USER, TEL, DINNER_PROJECT, REMARK, is_send_message,state,CREATED_BY,
    CREATED_DATE, UPDATED_BY, UPDATED_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_DINNER_PARTY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_DINNER_PARTY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mzhotel.sm.dinnerParty.dto.DinnerParty" >
    <selectKey keyProperty="id" resultType="java.lang.String" keyColumn="id" order="BEFORE">
      select uuid() from dual
    </selectKey>
    insert into T_DINNER_PARTY (ID, start_date,end_date,DINNER_TYPE, LINK_USER,
      TEL, DINNER_PROJECT, REMARK, is_send_message,state,
      CREATED_BY, CREATED_DATE, UPDATED_BY, 
      UPDATED_DATE)
    values (#{id,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP},#{endDate,jdbcType=TIMESTAMP},
    #{dinnerType,jdbcType=VARCHAR}, #{linkUser,jdbcType=VARCHAR},
      #{tel,jdbcType=VARCHAR}, #{dinnerProject,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
    #{isSendMessage,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR},
    #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR},
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mzhotel.sm.dinnerParty.dto.DinnerParty" >
    insert into T_DINNER_PARTY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="dinnerType != null" >
        DINNER_TYPE,
      </if>
      <if test="linkUser != null" >
        LINK_USER,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="dinnerProject != null" >
        DINNER_PROJECT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isSendMessage != null" >
        is_Send_Message,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dinnerType != null" >
        #{dinnerType,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="linkUser != null" >
        #{linkUser,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="dinnerProject != null" >
        #{dinnerProject,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isSendMessage != null" >
        #{isSendMessage,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mzhotel.sm.dinnerParty.dto.DinnerParty" >
    update T_DINNER_PARTY
    <set >
      <if test="dinnerType != null" >
        DINNER_TYPE = #{dinnerType,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="linkUser != null" >
        LINK_USER = #{linkUser,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="dinnerProject != null" >
        DINNER_PROJECT = #{dinnerProject,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isSendMessage != null" >
        is_Send_Message = #{isSendMessage,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mzhotel.sm.dinnerParty.dto.DinnerParty" >
    update T_DINNER_PARTY
    set
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      DINNER_TYPE = #{dinnerType,jdbcType=VARCHAR},
      LINK_USER = #{linkUser,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      DINNER_PROJECT = #{dinnerProject,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      is_send_message = #{isSendMessage,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getDinnerParty" parameterType="com.mzhotel.sm.dinnerParty.dto.QueryDinnerParty"
          resultType="com.mzhotel.sm.dinnerParty.dto.DinnerParty">
    select
    t.*,
    created.username createdName,
    updated.username updatedName,
    info.SAVE_NAME saveName
    from T_DINNER_PARTY t
    left join t_user created on created.user_id = t.created_by
    left join t_user updated on updated.user_id = t.updated_by
    left join T_DOCUMENT_INFO_RELATION relation on relation.RELATION_ID = t.id and relation.RELATION_TYPE='DINNER_PARTY'
    left join T_DOCUMENT_INFO info on info.id = relation.DOCUMENT_ID
    <where>
      <if test="id">
        and t.id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="dinnerType != null and dinnerType != ''">
        and t.dinner_type like concat('%',#{dinnerType,jdbcType=VARCHAR},'%')
      </if>
      <if test="tel != null and tel != ''">
        and t.tel like concat('%',#{tel,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
</mapper>