<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mzhotel.sm.actionLog.mapper.ActionLogMapper" >
  <resultMap id="BaseResultMap" type="com.mzhotel.sm.actionLog.dto.ActionLog" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="ACTION_DATE" property="actionDate" jdbcType="DATE" />
    <result column="ACTION_TYPE" property="actionType" jdbcType="VARCHAR" />
    <result column="APPLY_USER" property="applyUser" jdbcType="VARCHAR" />
    <result column="AUDIT_USER" property="auditUser" jdbcType="VARCHAR" />
    <result column="HANDLE_USER" property="handleUser" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="DATE" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PARENT_ID, AMOUNT, ACTION_DATE, ACTION_TYPE, APPLY_USER, AUDIT_USER, HANDLE_USER, 
    REMARK, CREATED_BY, CREATED_DATE, UPDATED_BY, UPDATED_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_ACTION_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_ACTION_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mzhotel.sm.actionLog.dto.ActionLog" >
    <selectKey keyProperty="id" resultType="java.lang.String" keyColumn="id" order="BEFORE">
      select sys_guid() from dual
    </selectKey>
    insert into T_ACTION_LOG (ID, PARENT_ID, AMOUNT, 
      ACTION_DATE, ACTION_TYPE, APPLY_USER, 
      AUDIT_USER, HANDLE_USER, REMARK, 
      CREATED_BY, CREATED_DATE, UPDATED_BY, 
      UPDATED_DATE)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{actionDate,jdbcType=DATE}, #{actionType,jdbcType=VARCHAR}, #{applyUser,jdbcType=VARCHAR}, 
      #{auditUser,jdbcType=VARCHAR}, #{handleUser,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=DATE}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.mzhotel.sm.actionLog.dto.ActionLog" >
    <selectKey keyProperty="id" resultType="java.lang.String" keyColumn="id" order="BEFORE">
      select sys_guid() from dual
    </selectKey>
    insert into T_ACTION_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="actionDate != null" >
        ACTION_DATE,
      </if>
      <if test="actionType != null" >
        ACTION_TYPE,
      </if>
      <if test="applyUser != null" >
        APPLY_USER,
      </if>
      <if test="auditUser != null" >
        AUDIT_USER,
      </if>
      <if test="handleUser != null" >
        HANDLE_USER,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="actionDate != null" >
        #{actionDate,jdbcType=DATE},
      </if>
      <if test="actionType != null" >
        #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null" >
        #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null" >
        #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="handleUser != null" >
        #{handleUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=DATE},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mzhotel.sm.actionLog.dto.ActionLog" >
    update T_ACTION_LOG
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="actionDate != null" >
        ACTION_DATE = #{actionDate,jdbcType=DATE},
      </if>
      <if test="actionType != null" >
        ACTION_TYPE = #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null" >
        APPLY_USER = #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null" >
        AUDIT_USER = #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="handleUser != null" >
        HANDLE_USER = #{handleUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=DATE},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE = #{updatedDate,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mzhotel.sm.actionLog.dto.ActionLog" >
    update T_ACTION_LOG
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      ACTION_DATE = #{actionDate,jdbcType=DATE},
      ACTION_TYPE = #{actionType,jdbcType=VARCHAR},
      APPLY_USER = #{applyUser,jdbcType=VARCHAR},
      AUDIT_USER = #{auditUser,jdbcType=VARCHAR},
      HANDLE_USER = #{handleUser,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=DATE},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_DATE = #{updatedDate,jdbcType=DATE}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryActionLog" parameterType="com.mzhotel.sm.actionLog.dto.QueryActionLog"
          resultType="com.mzhotel.sm.actionLog.dto.ActionLog">
    select t.*,u.username actionUserName,dict.dict_name actionTypeDesc from T_ACTION_LOG t
    left join T_DICT_INFO dict on dict.DICT_CODE = t.ACTION_TYPE and dict.DICT_TYPE_CODE = 'STORE_ACTION_TYPE'
    left join t_user u on u.user_id = t.created_by
    <where>
      <if test="actionType">
        and t.ACTION_TYPE = #{actionType,jdbcType=VARCHAR}
      </if>
      <if test="parentId">
        and t.PARENT_ID = #{parentId,jdbcType=VARCHAR}
      </if>
    </where>
    order by t.created_date desc
  </select>

</mapper>