<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mzhotel.sm.role.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.mzhotel.sm.role.dto.Role" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
    <result column="ROLE_TYPE" property="roleType" jdbcType="VARCHAR" />
    <result column="ROLE_PARENT" property="roleParent" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_NAME, ROLE_CODE, ROLE_TYPE, ROLE_PARENT, STATE, ORDER_NO, REMARK, CREATED_BY, 
    CREATED_DATE, UPDATED_BY, UPDATED_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mzhotel.sm.role.dto.Role" >
    <selectKey keyProperty="id" resultType="java.lang.String" keyColumn="id" order="BEFORE">
      select uuid() from dual
    </selectKey>
    insert into T_ROLE (ID, ROLE_NAME, ROLE_CODE, 
      ROLE_TYPE, ROLE_PARENT, STATE, 
      ORDER_NO, REMARK, CREATED_BY, 
      CREATED_DATE, UPDATED_BY, UPDATED_DATE
      )
    values (#{id,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=VARCHAR}, #{roleParent,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mzhotel.sm.role.dto.Role" >
    insert into T_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="roleCode != null" >
        ROLE_CODE,
      </if>
      <if test="roleType != null" >
        ROLE_TYPE,
      </if>
      <if test="roleParent != null" >
        ROLE_PARENT,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="roleParent != null" >
        #{roleParent,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mzhotel.sm.role.dto.Role" >
    update T_ROLE
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        ROLE_TYPE = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="roleParent != null" >
        ROLE_PARENT = #{roleParent,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mzhotel.sm.role.dto.Role" >
    update T_ROLE
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      ROLE_TYPE = #{roleType,jdbcType=VARCHAR},
      ROLE_PARENT = #{roleParent,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getRole" parameterType="com.mzhotel.sm.role.dto.QueryRole"
          resultType="com.mzhotel.sm.role.dto.Role">
    select
    t.*,
    created.username createdName,
    updated.username updatedName,
    info.SAVE_NAME saveName
    from T_ROLE t
    left join t_user created on created.user_id = t.created_by
    left join t_user updated on updated.user_id = t.updated_by
    left join T_DOCUMENT_INFO_RELATION relation on relation.RELATION_ID = t.id and relation.RELATION_TYPE='ROLE'
    left join T_DOCUMENT_INFO info on info.id = relation.DOCUMENT_ID
    <where>
      <if test="id">
        and id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="roleName">
        and role_name like concat ('%',#{roleName,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
</mapper>